<div class="container-fluid">
	<h1 class="h3 mb-2 text-gray-800">All Pages</h1>

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Total [0]</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Slug</th>
							<th>Status</th>
							<th>Modify Date</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>About</td>
							<td>/about</td>
							<td>Enable</td>
							<td>2019/09/17</td>
							<td><a routerLink="/page/edit">Edit</a> &nbsp;&nbsp;
								<a routerLink="/page/destroy">Delete</a></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>